PINATA_API_KEY=...
PINATA_API_SECRET=...
# PINATA_SECRET_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJhNWJhYzFjNy04NTFmLTRlOTQtOTJiMC1iYzc4NzRjMzdjMDQiLCJlbWFpbCI6ImEuYm9yZWxAcHJvdG9ubWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiN2FmNjhkMmYzODMzYjgyNzI5NWYiLCJzY29wZWRLZXlTZWNyZXQiOiIyMTk0ODI4MDViYjQyZWI2ODM5OWI1N2YzNDQ2NDZhMzllZTg5MTBmMGNmZDMzNGFkODNmZTUwZWM3YzllOWM0IiwiZXhwIjoxNzUxMTk2MzE1fQ.V5UqVBEIickQiYIA0IhUDJUKpWYttbM-hJFQ19NoNQE